<footer class="footer">
  <div class="footer-container">
    <div class="footer-about">
  <h3>About TripEase</h3>
  <p>TripEase is your all-in-one travel planning platform designed to simplify your journey. Whether you're seeking hidden gems, popular destinations, or personalized travel ideas.</p>
  <p>Our community-driven listings of places empower travelers to share their favorite spots, reviews, and tips, creating a vibrant network of explorers helping each other discover the best experiences worldwide.</p>
  </div>

    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/listings">Destinations</a></li>
        <li><a href="/listings/new">Add New Listing</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h3>Contact Us</h3>
      <p>Email: <a href="mailto:support@tripease.com">support@tripease.com</a></p>
      <p>Phone: +1 (234) 567-890</p>
      <div class="social-icons">
        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram" class="social-link">
          <!-- Instagram SVG -->
          <svg role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <path d="M7.75 2h8.5A5.75 5.75 0 0122 7.75v8.5A5.75 5.75 0 0116.25 22h-8.5A5.75 5.75 0 012 16.25v-8.5A5.75 5.75 0 017.75 2zm0 1.5A4.25 4.25 0 003.5 7.75v8.5A4.25 4.25 0 007.75 20.5h8.5a4.25 4.25 0 004.25-4.25v-8.5A4.25 4.25 0 0016.25 3.5h-8.5zm8.25 2a1.25 1.25 0 110 2.5 1.25 1.25 0 010-2.5zM12 7a5 5 0 110 10 5 5 0 010-10zm0 1.5a3.5 3.5 0 100 7 3.5 3.5 0 000-7z"/>
          </svg>
        </a>
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook" class="social-link">
          <!-- Facebook SVG -->
          <svg role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <path d="M22 12a10 10 0 10-11.5 9.9v-7h-2v-3h2v-2.3c0-2 1.2-3.1 3-3.1.9 0 1.8.2 1.8.2v2h-1c-1 0-1.3.6-1.3 1.2V12h2.3l-.4 3h-1.9v7A10 10 0 0022 12z"/>
          </svg>
        </a>
        <a href="https://www.twitter.com" target="_blank" aria-label="Twitter" class="social-link">
          <!-- Twitter SVG -->
          <svg role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <path d="M23 3a10.9 10.9 0 01-3.1.9 5.4 5.4 0 002.4-3 10.9 10.9 0 01-3.4 1.3 5.4 5.4 0 00-9.2 4.9A15.3 15.3 0 012 4.9a5.4 5.4 0 001.7 7.2 5.3 5.3 0 01-2.5-.7v.1a5.4 5.4 0 004.3 5.3 5.4 5.4 0 01-2.5.1 5.4 5.4 0 005 3.7A10.8 10.8 0 012 20a15.3 15.3 0 008.3 2.4c9.9 0 15.3-8.2 15.3-15.3 0-.2 0-.3 0-.5A11 11 0 0023 3z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 TripEase. All rights reserved.</p>
    <p>Made with ❤️ by the TripEase team</p>
  </div>
</footer>
